/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* styling starts here */

/* font import */
.ubuntu-mono-regular {
    font-family: "Ubuntu Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.ubuntu-mono-bold {
    font-family: "Ubuntu Mono", monospace;
    font-weight: 700;
    font-style: normal;
}

.ubuntu-mono-regular-italic {
    font-family: "Ubuntu Mono", monospace;
    font-weight: 400;
    font-style: italic;
}

.ubuntu-mono-bold-italic {
    font-family: "Ubuntu Mono", monospace;
    font-weight: 700;
    font-style: italic;
}

/* color-codes */
:root {
    --green-border: rgba(74, 164, 134, 0.79);
    --green-background: rgba(110, 232, 191, 0.786);
    /* table border */
    --table-border: 2px solid var(--green-border);
    --beige-background: #FFF0E5;
}

body {
    display: flex;
    flex-direction: column;
    margin: 5% 10%;
    background-color: var(--beige-background);
}

div.container {
    display: grid;
    grid-auto-rows: auto;
    gap: calc(10px + 1em);
    justify-items: stretch;
}

h1 {
    text-align: left;
}

/* table styling */

table {
    text-align: left;
    border-collapse: separate;
    overflow: hidden;
    background-color: var(--green-background);
    border-radius: 1ch;
    border: var(--green-border);
    box-shadow: 0px 5px 10px;
}

table tr {
    border-bottom: 5px solid black
}

table #pages {
    text-align: end;
}

/* border styling on individual cells */
/* styles need to be applied individually as border-spacing: 0 */

table thead tr:first-child th {
    border-top: var(--table-border);
    border-bottom: var(--table-border);
}

table tbody tr:last-child td {
    border-bottom: var(--table-border)
}

table thead th:last-child,
table tbody td:last-child {
    border-right: var(--table-border)
}

table thead th:first-child,
table tbody td:first-child {
    border-left: var(--table-border)
}

/* border radius */

table thead th:first-child {
    border-top-left-radius: 1ch;
}

table thead th:last-child {
    border-top-right-radius: 1ch;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 1ch;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 1ch;
}

/* Table styling and aligning */

td,
th {
    padding: 10px;
    vertical-align: middle;
}

table div {
    display: flex;
    flex-direction: column;
    gap: 5px
}

/* button styling */
button,
input[type=submit] {
    background: none;
    justify-self: center;
    border-radius: 5ch;
}

button#addBookButton {
    height: calc(30px + 1em);
    width: calc(90px + 2em);
    border: var(--table-border);
}

button:hover,
input[type=submit]:hover {
    background-color: var(--green-border);
    color: white;
    box-shadow: 0px 5px 10px black;
}

button.bookActionButton {
    display: flex;
    flex-direction: row;
    height: calc(15px + 1em);
    width: calc(60px + 2em);
    align-items: center;
    justify-content: space-around;
}

button.bookActionButton img {
    height: calc(10px + 1em);
}

/* Dialog styling */

dialog::backdrop {
    color: aliceblue;
    -webkit-backdrop-filter: blur(3px);
    -moz-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
}

dialog {
    border: 1px solid rgb(213, 221, 228);
    border-radius: 1ch;
    background-color: aliceblue;
    box-shadow: 0px 5px 10px;
    width: 30%;
}

dialog>#closeModal {
    width: calc(10px + 1em);
}

dialog form {
    display: flex;
    flex-direction: column;
    gap: calc(5px + 0.5em)
}

dialog form>p {
    display: flex;
    flex-direction: column;
    gap: calc(5px + 0.05em);
}

dialog form>p>input {
    border: 3px solid black;
    border-radius: 0.5ch;
    height: calc(15px + 1em);
}

/* Typography */

h1,
table,
div,
dialog,
button,
input {
    font-family: 'Ubuntu Mono', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: calc(4px + 0.8em);
}

h1,
th,
form label,
form input[type=submit] {
    font-weight: 600;
}