/* General setup */
@font-face {
    font-family: 'amblebold';
    src: url('fonts/amble-bold-webfont.woff2') format('woff2'),
        url('fonts/amble-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pt_sans_captionregular';
    src: url('fonts/ptc55f-webfont.woff2') format('woff2'),
        url('fonts/ptc55f-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


.nunito-sans-font {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "YTLC" 500;
}


.playwrite-pe-font {
    font-family: "Playwrite PE", cursive;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

html {
    font-size: 10px;
    margin: 0;
    font-family: 'Playwrite PE', 'amblebold', sans-serif;
    font-weight: bolder;
}

body {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    font-family: 'Nunito Sans', 'pt_sans_captionregular', sans-serif;
}

/* Typography */

h1 {
    font-size: 3.2rem;
    font-family: 'Playwrite PE', 'amblebold', sans-serif;
}

h2 {
    font-size: 2.4rem;
}

p {
    font-size: 1.4rem;
    line-height: 1.6;
    word-spacing: 0.6rem;
}