.inter-familyfont {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

body,
div,
h1,
h2,
p,
img,
a {
    padding: 0;
    margin: 0;
}

:root {
    --green-sidebar: #24C7A8;
    --green-button: #08A988;
    --white: #FDFDFE;
    --grey: #D0D0D8;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 6fr;
    grid-template-areas:
        'sidebar header'
        'sidebar main-content';
    width: 100vw;
    height: 100vh;
}

.sidebar {
    grid-area: sidebar;
    background-color: var(--green-sidebar);
    display: grid;
    grid-template-rows: repeat(3, max-content);
    align-items: start;
    gap: calc(30px + 1vh);
    height: 100vh;
    padding: 20px;
}

.sidebar .logo {
    height: calc(100px + 1em);
    width: auto;
    align-self: start;
    align-items: center;
}

.sidebar .nav,
.sidebar .system {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(30px, 1em));
    gap: 10px;
}


.sidebar .navitem,
.sidebar .logo {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px
}

.header {
    grid-area: header;
    background-color: var(--white);
    display: grid;
    grid-template-rows: 1fr 1.5fr;
    padding: 0 calc(30px + 1em) 0 calc(20px + 1em);
}

.header .top {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.header>.top>div {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
}

.header>.top>.search>img {
    height: calc();
}

.header>.top>.search>input[type=search] {
    box-sizing: border-box;
    width: 75%;
    height: calc(25px + 1em);
    border-radius: 5ch;
    border-style: none;
    background-color: var(--grey);
}

.header>.top>.top-profile {
    justify-self: end;
    gap: calc(10px + 1em);
}

.header>.top>.top-profile>img {
    border-radius: 25ch;
}

.header .bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 350px
}

.bottom>.hello {
    display: grid;
    grid-template-columns: 1fr 6fr;
    align-items: center;
    gap: 30px
}

.hello>img {
    justify-self: end;
    height: calc(100px + 1em);
    border-radius: 25ch;
}

.hello>div {
    justify-self: start;
}

.header .bottom .buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    gap: calc(10px + 0.25em);
}

button {
    border-radius: 3ch;
    border-style: none;
    height: calc(25px + 1em);
    width: calc(75px + 2em);
    background-color: var(--green-button);
    color: var(--white);
    font-weight: bold;
}

.main-content {
    grid-area: main-content;
    background-color: var(--grey);
    grid-template-columns: 3fr 1fr;
    display: grid;
    grid-template-areas:
        'card-container announcements'
        'card-container trending';

}

.card-container {
    grid-area: card-container;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fill, minmax(250px, 1fr));
    justify-content: center;
    align-items: center;
    gap: calc(5px + 1em);
}

.card {
    background-color: var(--white);
    border-radius: 0.5ch;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(20px, 1fr));
    grid-template-areas: 'card-title'
        'card-description'
        'card-buttons';
    border-color: grey;
    border-style: solid;
    border-width: 1px;
    height: max-content;
    padding: 30px
}

.card>p:first-of-type {
    grid-area: card-title;
    font-weight: bold;
}

.card>p:last-of-type {
    grid-area: card-description;
}

.card>div {
    grid-area: card-buttons;
    align-self: end;
    justify-self: end;
    padding-top: calc(10px + 1em);
}



.main-content>.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right>* {
    display: flex;
    flex-direction: column;
    gap: 10px
}

.announcements>div {
    background-color: var(--white);
    border-color: grey;
    border-width: 1px;
    border-radius: 0.5ch;
    padding: calc(15px + 1em) calc(10px + 1em);
    display: flex;
    flex-direction: column;
    gap: calc(5px + 1em)
}

.announcement>p:first-of-type {
    font-weight: bold;
}

.announcements>div>div:not(:last-child) {
    border-bottom: 1px solid grey;
    padding-bottom: calc(5px + 1em);
}

.info-container {
    background-color: var(--white);
    border-color: grey;
    border-width: 1px;
    border-style: solid;
    padding: calc(10px + 1em) calc(5px + 0.5em);
}

.person {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 'img p1'
        'img p2';
    justify-content: center;
    align-items: center;
    gap: calc(5px + 0.5em);
    padding: 10px;

}

.person>img {
    grid-area: img;
    height: calc(5px + 4em);
    border-radius: 25ch;
}

.person>p:first-of-type {
    grid-area: p1;
    align-self: end;
}

.person>p:last-child {
    grid-area: p2;
    align-self: start;
}

.icon,
.navicon,
.logo {
    height: calc(20px + 1em);
}

.navicon {
    filter: invert(99%) sepia(12%) saturate(346%) hue-rotate(181deg) brightness(100%) contrast(99%);
}

/* Typography */

h1,
h2,
h3,
p,
button,
input {
    font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.25em;
}

p {
    font-size: 1.25em;
}

button {
    font-size: 1em;
    font-weight: 800;
}

.top-profile>p {
    font-weight: bold;
    text-wrap: nowrap;
}

.greeting>p {
    font-weight: bold;
}

.greeting>p:last-child {
    font-size: 2em;
}

.card>div>a,
.card>div>a::before,
.card>div>a::after {
    text-decoration: none;
}