body,
div {
    padding: 0;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas:
        'sidebar header'
        'sidebar main-content';
    width: 100vw;
    height: 100vh;
}

.sidebar {
    grid-area: sidebar;
    background-color: firebrick;
    display: grid;
    grid-template-rows: 1fr 3fr 2fr;
    grid-template-areas:
        'logo'
        'nav'
        'sys';
    height: 100%;
}

.sidebar .logo {
    grid-area: logo;
}

.sidebar .nav {
    grid-area: nav;
}

.sidebar .system {
    grid-area: sys;
}

.sidebar .navitem,
.sidebar .logo {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.header {
    grid-area: header;
    background-color: blanchedalmond;
    display: grid;
    grid-template-rows: 1fr 3fr;
}

.header .top {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.header .bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.header .bottom .hello {
    display: grid;
    grid-template-rows: 1fr 3fr;
}

.header .bottom .buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.main-content {
    grid-area: main-content;
    background-color: aqua;
}